.cartFooter{
    background-image: url("../assets/images/WoodLight.png");
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 20%;
}

    .cartFooter input{
        text-align: center;
        border: none;
        border-radius: 10px 10px 0 0;
        border-bottom: solid 1px;
        background-color: rgba(255, 255, 255, 0.425);        
        width: 95%;
        height: 25%;
    }

    .cartFooter button{
        width: 95%;
        background-color: lightgray;
        margin: 0rem 0 0.7rem 0;
        border-radius:0 0 10px 10px;
        height: 25%;
    }

.table {
    text-align: center;
    color: orange;
} 