.MenuContainer {
  height: 3em;
  width: 100%;
  background-image: url("../assets/images/WoodLight.png");
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: whitesmoke;  
}

.tableRow {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tableRow button {
  border-radius: 50%;
  width: 2em;
  height: 2em;
  padding: 0;
  text-align: center;
}
.tableRow h4{
  line-height: 1.3 !important;
}
.h6{
  margin-bottom: 0;
}
.tableRow td {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
}
p{
  color: black;
  opacity: 1;
  font-weight: 600;
}
input::placeholder{
  color: black;
  opacity: 0.75;
  font-weight: 600;
}
.cartFooter {
  background-image: url("../assets/images/WoodLight.png");
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20%;
  color: white;
  padding-top: .5em ;

}

.cartFooter input {
  text-align: center;
  border: none;
  border-radius: 10px 10px 0 0;
 
  background-color: rgba(255, 255, 255, 0.425);
  width: 95%;
  height: 25%;
}

.cartFooter button {
  width: 95%;
  background-color: lightgray;
  margin: 0rem 0 0.7rem 0;
  border-radius: 0 0 10px 10px;
  height: 25%;
}

.sendOrder {
  display: flex;
  justify-content: center;
}

.payment {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
