.container-fluid {
  padding: 0;
  margin: 0;
}

.centered-items {
  margin-left: auto;
  margin-right: auto;
  width: 3em;
}

.modal-open {
  padding-right: 0;
}

.modal-content {
  background-color: rgba(0, 0, 0, 0.592);
}

.modal-header {
  background-color: rgb(0, 0, 0);
}

.modal-body ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.modal-body li {
  margin-bottom: 15px;
}

.modal-body a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
}

.table td {
  border-bottom: none;
}