.flexContainer {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    margin-top: 3rem;
    align-items: center;
    height: 3em;
}

.count {
    width: 2em;
    color: whitesmoke;
    font-size: 2.5em;
    font-weight: bold;
    text-align: center;
}

.add {

    font-weight: bold;
}

.remove {

    font-weight: bold;
}