.flexContainer {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    margin-top: 4rem;
    align-items: center;
    max-height: 3em;
}

.count {
    width: 2em;
    color: whitesmoke;
    font-size: 6em;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px 5px black;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

.add {
    background-color: rgb(5, 155, 5);
    box-shadow: 2px 2px rgb(4, 71, 4);
}

.remove {
    background-color: rgb(198, 4, 4);
    box-shadow: 2px 2px rgb(76, 0, 0);
}

.add,
.remove {
    border: none;
    font-size: 1.5em;
    height: 2em;
    font-weight: bold;
    color: white;
    box-shadow: 2px 2px black;
    

}