.category {
  width: 100%;
  position: sticky;
  top: 7.8em;
  z-index: 1;
  background-color: var(--secondary-color);
  color: var(--quartenary-color);
  height: 2.5em;
  box-shadow: 0px 5px 10px 5px black;
  border-radius: 0px 0px 15px 15px;
}
i{
  transform: scale(1.4);
}