.chatbot {
    position: fixed;
    top: 90%;
    right: 5%;
    font-size: 1.5em;
    z-index: 2;
    align-items: center;
    justify-content: center;
    color: white;
}

i {
    align-self: center;
    justify-content: center;
    text-shadow: grey 2px 2px 2px;
}

.offcanvasChat {
    border-radius: 10px;
}

.offcanvasChatheader {
    background-color: var(--fifth-color);
    color: var(--secondary-color);
}

.offcanvasfooter {
    margin-top: 2em;
    display: flex;
}

.offcanvasChatbody {
    background-image: url("./src/assets/images/ChatBotBackground.png") !important;
    overflow-y: scroll;
    margin: 1em;
}

.inputMessageclass {
    position: absolute;
    bottom: 0.5em;
    left: 0;
    width: 78%;
    border-radius: 5px;
    border: 0.1em solid lightgrey;
    height: 2.2em;
    margin-left: .5em;
}

.sendmessage {
    position: absolute;
    bottom: 0.5em;
    right: 0;
    height: 2.2em;
    width: 15%;
    margin-right: .5em;
    color: white;
    background-color: var(--tertiary-color);
}

.sendmessage:hover {
    background-color: var(--quartenary-color);
    color: white;
}

/* AI-message */
.system {
    padding: 10px;
    max-width: 70%;
    border-radius: 10px 10px 10px 10px;
    color: white !important;
    background-color: rgb(77, 163, 77);
    text-align: start;
    margin-right: auto;
}


/* Usermessage */
.user {
    padding: 10px;
    width: 70%;
    border-radius: 10px 10px 10px 10px;
    color: white !important;
    background-color: rgb(98, 180, 207);
    text-align: start;
    margin-left: auto;
}

.xButtonImage {
    background-image: url(../assets/images/XBTNW.png);
}