.suggestionBar {
    color: white;
    background-image: linear-gradient(to top, black 60%, transparent 100%);
    height: 35%;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.suggestionButton {
    width: 70px;
    height: 70px;
    background-size: 100% auto;
    background-repeat: no-repeat;
    border-radius: 20px;
    border-color: whitesmoke;

}

.suggestionContainer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.textStyle{
    font-weight: 600;
    font-size: medium;
    color: white;
    width: 70px;
    height: 70px;
    padding: 10px;
}

/* .testdiv {
    border-radius: 20px;
    gap: 1rem;
    overflow-y: hidden;
    overflow-x: auto;
    display: flex;
    padding: 0 1rem 0 1rem;
    margin-left: 1rem;
}
    .testdiv img {
        border-radius: 20px;
    } */