.suggestionBar {
    background-image: url("../assets/images/WoodLight.png");
    width: 100%;
    margin-top: 7rem;
    height: 5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.suggestionButton {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 4px;
    margin-right: 4px;
    width: 70px;
    height: 70px;
    background-size: 60px auto;
    background-repeat: no-repeat;


}

.textStyle {
    font-weight: 100;
    font-size: medium;
    font-size: large;
    color: orange;
    width: 50px;
    height: 50px;
    margin-left: 1px;
}