.productCard{
    max-width: 600px;
    width: 100%;
    height: 35em;
    background-size: 600px auto;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    padding: 0;
    margin: 0 auto;
    border-bottom: 0.1em solid white;
}

.cardHeader{
    color: white;
    padding:20px;
}