.Header {
    background-image: url("../assets/images/WoodDark.png");
    text-align: center;
    color: whitesmoke;
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100%;
    height: 8em;
}

h1 {
    margin-top: 0.4em;
}