.cartButton {
  color: white;
  width: 100vw;
  z-index: 1;
  position: fixed;
  bottom: 0;
  text-align: center;
  background-image: url(../assets/images/WoodLight.png);
}

.backgroundImage {
  background-image: url(../assets/images/WoodLight.png);
}
