.cartButton {
  color: white;
  width: 100.05%;
  z-index: 1;
  position: fixed;
  bottom: 0;
  left: 0;
  border: none;
  margin-bottom: -6px;
  text-align: center;
  background-image: url(../assets/images/WoodLight.png);
  overflow: hidden;
}

.backgroundImage {
  background-image: url(../assets/images/WoodLight.png);
}