.backgroundImage {
  background-color: var(--primary-color);
}

.xButtonImage {
  background-image: url(../assets/images/XBTN.png);
}

.cartbutton{
  background-color: var(--primary-color);
  color: var(--secondary-color);
}
