a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: large;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.links {
    color: white !important;
    border: 1px solid tan;
    width: 100%;
    height: 2.5em;
    position: absolute;
    bottom: 0;
}

.links>a {
    width: 33.3%;
    background-image: url(../assets/images/WoodLight.png);
    text-align: center;
}

.active {
    color: whitesmoke !important;
    border-bottom: 2px solid rgb(231, 207, 176);
    transition: background-image color 0.6s ease-in-out;
    background-image: url(../assets/images/WoodDark.png) !important;
}

@keyframes background-active {
    0% {
        background-image: url(../assets/images/WoodDark.png);
    }

    100% {
        background-image: url(../assets/images/WoodLight.png);
    }
}