a{
    text-decoration: none;
    color: black;
}

.links{
    color: white !important; 
    border: 1px solid black;
}

.links > a{
    width: 25%;
    background-color: red;
    text-align: center;
}

.active{
    color: white !important;
    border-bottom: 1px solid white !important;
    animation: background-active 0.5s ease-in-out;
}

@keyframes background-active{
    0%{
        background-color: red;
    }
    
    50%{
        background-color: rgb(158, 3, 3);
    }
    
    100%{
        background-color: red;
    }
}