a {
    text-decoration: none;
    color: black;
}

.links {
    color: white !important;
    border: 1px solid black;
}

.links>a {
    width: 25%;
    background-image: url("../assets/images/WoodDark.png");
    text-align: center;
}

.active {
    color: white !important;
    border-bottom: 1px solid white !important;
    animation: background-active 0.5s ease-in-out;
}


@keyframes background-active {
    0% {
        background-image: url("../assets/images/WoodDark.png");
    }

    20% {
        background-image: url("../assets/images/WoodLight.png");
    }

    100% {
        background-image: url("../assets/images/WoodDark.png");
    }
}