a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.links{
    color: white !important; 
    border: 1px solid tan;
}

.links>a {
    width: 25%;
    background-image: url(../assets/images/WoodLight.png);
    text-align: center;
}

.active{
    color: whitesmoke !important;
    border-bottom: 2px solid rgb(231, 207, 176);
    transition: background-image color 0.6s ease-in-out;
    background-image: url(../assets/images/WoodDark.png) !important;
}

@keyframes background-active{
    0%{
        background-image: url(../assets/images/WoodDark.png);
    }
    
    100%{
        background-image: url(../assets/images/WoodLight.png);
    }
}