.header {
    color: white;
    background-image: linear-gradient(to bottom, black 5%, transparent 99%);
    height: 35%;
    padding: 1em;
    border-radius: 25px;
}

.p {
    font-weight: 750;
    color: whitesmoke;
    text-align: left;
    font-style: italic;
}